<%- include("../../partials/header-admin.ejs") %>

<div class="boxes-main-container">
<% if (allLabels && allLabels.length > 0) { %>
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                    <th>label ID</th>
                    <th>label created</th>
                    <th>label updated</th>
                    <th>label for box: </th>
                    <th>label has design id</th>
                    </tr>
                </thead>
                <tbody>
                    <% allLabels.forEach(function(label) { %>
                    <tr>
                    <td><%= label.id %></td>
                    <td><%= label.created_at %></td>
                    <td><%= label.updated_at %></td>
                    <td><%= label.storage_boxes_id %></td>
                    <td><%= label.labels_designs_id %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
<% } else { %>
    <p>No labels found.</p>
<% } %>
</div>

<%- include("../../partials/footer.ejs") %>
