<%- include("../../partials/header-admin.ejs") %>

<div class="boxes-main-container">
<% if (allCategories && allCategories.length > 0) { %>
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                    <th>category ID</th>
                    <th>category name </th>
                    <th>category created</th>
                    <th>category updated</th>
                    </tr>
                </thead>
                <tbody>
                    <% allCategories.forEach(function(category) { %>
                    <tr>
                    <td><%= category.id %></td>
                    <td><%= category.name %></td>
                    <td><%= category.created_at %></td>
                    <td><%= category.updated_at %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
<% } else { %>
    <p>No categories found.</p>
<% } %>
</div>

<%- include("../../partials/footer.ejs") %>
