<%- include("../../partials/header-admin.ejs") %>

<div class="boxes-main-container">
<% if (allUsers && allUsers.length > 0) { %>
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>User ID</th>
                        <th>User email</th>
                        <th>User name</th>
                        <th>User created_at</th>
                        <th>User updated_at</th>
                        <th>User verified</th>
                        <th>User provider</th>
                        <th>User role</th>
                        <th>Control</th>
                    </tr>
                </thead>
                <tbody>
                    <% allUsers.forEach(function(user) { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>
                        <td><%= user.name %></td>
                        <td><%= user.created_at %></td>
                        <td><%= user.updated_at %></td>
                        <td><%= user.verified %></td>
                        <td><%= user.provider %></td>
                        <td><%= user.role %></td>
                        <td>
                            <% if (user.role !== 'admin') { %>
                                <form action="/make-admin/<%= user.id %>" method="POST">
                                    <button class="btn btn-primary" type="submit">Make Admin</button>
                                </form>
                            <% } %>
                        </td>
                        <td>
                            <% if (user.role !== 'admin') { %>
                                <form action="/delete-user/<%= user.id %>" method="POST">
                                    <button class="btn btn-primary" type="submit">Remove user</button>
                                </form>
                            <% } %>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
<% } else { %>
    <p>No users found.</p>
<% } %>
</div>

<%- include("../../partials/footer.ejs") %>
